html {
	overflow-x: hidden;
}

body {
	background-color: #ece7de;
}

input {
	border-style: none;
	background-color: #f2f2ff;
	color: #21394bd3;
	font-family: soleil, sans-serif;
	letter-spacing: 0.3px;
	font-size: 16px;
}

:focus {
	outline: none;
	box-shadow: inset 1px 1px 3px 0 #2f526b60;
}

::placeholder {
	color: #21394bb9;
}

#generationParameters input {
	width: 12.5em;
	background-color: #f2f2ff;
	color: #21394bd3;
	font-family: soleil, sans-serif;
	font-weight: lighter;
	letter-spacing: 0.3px;
	font-size: 15px;
	border-radius: 50px;
	padding: 0.2em 1em;
}

#playerOptions input {
	width: 11em;
	border-radius: 50px;
	padding: 0.2em 1em;
	font-size: 14.5px;
}

#playButton {
	position: absolute;
	top: 4em;
	left: 12.3em;
}

#infoSVG {
	position: absolute;
	top: 2.3em;
	left: 11em;
}

#playerBubble {
	visibility: hidden;
	opacity: 0%;
	position: absolute;
	top: -0.9em;
	left: 0.4em;
	transition: all 0.2s;
}

#infoSVGVC {
	display: none;
	position: absolute;
	top: 19.3em;
	left: 12.5em;
}

#VCBubble {
	visibility: hidden;
	opacity: 0%;
	position: absolute;
	top: 18.3em;
	left: 14em;
	z-index: 5;
	transition: all 0.2s;
}

#Oval {
	fill: #cb8869;
}

#dynamicInput {
	/* This needs to be important because otherwise it would get overridden */
	font-weight: bolder !important;
	box-shadow: inset 1px 1px 3px 0 #2f526b60 !important;
	font-size: 16.5px !important;
	border-radius: 0px !important;
	padding: 0.1em 0em !important;
}

#genButton {
	margin-top: 2.1em;
}

.optionInputs {
	/* margin: 0em 0em; */
	margin-top: -0.6em;
}

#advancedOptions {
	position: absolute;
	margin-top: -3.2em;
	margin-left: 7.5em;
}

#hiddenOption {
	margin-top: -0.3em;
}

button {
	border: 0;
	border-radius: 50px;
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 0.05em;
	padding: 0.3em 1.2em 0.34em 1.2em;
}

.generateButton {
	background-color: #2f526b;
	color: #f2f2ff;
	line-height: 1.2em;
}

.generateButton:hover {
	background-color: #466983;
}

.generateButton:active {
	background-color: #28495f;
}

.modifyButtons {
	background-color: #cb8869;
	color: #f2f2ff;
}

.modifyButtons:hover {
	background-color: #bd7858;
}

.modifyButtons:active {
	background-color: #ac6646;
}

.modifyGroup {
	margin-top: 0.8em;
}

/* 




*/

/* 






*/

.switch {
	display: block;
	height: 15px;
	position: relative;
	/* top: 19.45em; */
	/* top: 23.85em; */
	/* right: 0.7em; */
	/* margin-bottom: 11em; */
	margin-top: -3.1em;
	margin-left: 11.7em;
	width: 28px;
}

.switch input {
	display: none;
}

.slider {
	background-color: #97acbc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: #2f526b;
	bottom: -0.05em;
	content: '';
	height: 1em;
	left: 0px;
	position: absolute;
	transition: 0.4s;
	width: 1em;
	/* z-index: -5; */
}

input:checked + .slider {
	background-color: #cb8869;
}

input:checked + .slider:before {
	transform: translateX(13px);
}

.slider.round {
	border-radius: 50px;
}

.slider.round:before {
	border-radius: 50%;
}
/* 





*/

iframe {
	border: 0px;
}

h1 {
	font-family: temeraire, serif;
	font-weight: 900;
	font-style: normal;
	font-size: 80px;
	letter-spacing: 0.15px;
	color: #f2f2ff;
	/* filter: drop-shadow(3px 2px 0px #c47a58); */
	/* text-shadow: 2px 3px 8px rgb(59, 17, 17) inset; */
}

#lineSVG {
	position: absolute;
	top: 12.9em;
}

h2 {
	font-family: soleil, sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 0.15px;
	color: #f2f2ff;
}

h3 {
	font-family: soleil, sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #2f526b;
	margin-bottom: 0.4em;
}

h4 {
	font-family: temeraire, serif;
	font-weight: 900;
	font-style: normal;
	font-size: 28px;
	letter-spacing: 0.15px;
	color: #cb8869;
	margin-bottom: -0.6em;
}

h5 {
	font-family: soleil, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	letter-spacing: 0.15px;
	color: #2f526b;
}

h6 {
	color: #f2f2ff;
	position: absolute;
	font-size: 30px;
	margin-top: -1.2em;
	font-family: temeraire, serif;
	font-weight: lighter;
	letter-spacing: 0.15px;
}

#edit {
	margin-top: 0.9em;
}

.labelText {
	font-family: soleil, sans-serif;
	font-weight: 1;
	font-style: normal;
	font-size: 18px;
	line-height: 1.6;
	color: #2f526b;
}

.radioGroup {
	/* margin-left: 1.3em; */
	margin-top: 0em;
	margin-left: -12em;
	/* position: absolute; */
}

.radioGroup input {
	opacity: 0;
}

/*  */

/* .radioGroup input + .labelText:before {
	content: '';
	background: #f2f2ff;
	border-radius: 50%;
	border: none;
	display: inline-block;
	width: 0.9em;
	height: 0.9em;
	position: relative;
	top: 0.37em;
	margin-right: 0.35em;
	vertical-align: top;
	cursor: pointer;
	transition: all 200ms ease;
}
.radioGroup input:checked + .labelText:before {
	background-color: #2f526b;
	box-shadow: inset 0 0 0 3px #f2f2ff;
} */

.radioGroup input + .labelText:before {
	border: solid;
	content: '';
	background: #f2f2ff;
	border-radius: 50%;
	border: none;
	display: inline-block;
	width: 0.55em;
	height: 0.55em;
	margin-top: 0.6em;
	margin-right: 0.35em;
	vertical-align: top;
	cursor: pointer;
	transition: all 50ms ease;
}

.radioGroup input:checked + .labelText:before {
	background-color: #2f526b;
	box-shadow: 0 0 0 3px #f2f2ff;
}

/*  */

.radios {
	margin-top: 1em;
}

.headerBackground {
	background-image: url(./Images/RWG_Blue_BG.png);
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	padding-top: 1em;
	margin-left: -0.5em;
	padding-left: -10em;
	min-height: 20em;
	z-index: -1;
	overflow: hidden;
	margin-top: -1.5em;
}

.headerBackgroundSpace {
	position: absolute;
	background-image: url(./Images/RWG_Blue_BG.png);
	z-index: -2;
	width: 100%;
	height: 5em;
	top: -3em;
	left: 0;
}

.margin {
	margin-left: 18.7%;
	margin-right: 18.7%;
}

#hello {
	padding-top: 0.4em;
	margin-bottom: 0em;
}

#subText {
	margin-top: 0em;
}

#generationParameters {
	position: relative;
	/* border: solid; */
	top: 40%;
}

#lowerPositioning {
}

#playerOptions {
	position: absolute;
	top: 0%;
	right: 0%;
	min-width: 10em;
}

#player {
	position: absolute;
	top: 6.7em;
	/* padding-bottom: 5em; */
}

#youtubeAdjust {
	margin-top: -1.4em;
}

.graphemeStructure {
	display: none;
}

#wordList {
	/* border: solid; */
	visibility: visible;
	position: relative;
	padding-bottom: 45em;
	width: 27em;
	overflow-x: hidden;

	margin-top: -32em;
	margin-left: 30%;
}

#generatedWords {
	visibility: visible;
}

#wordsPos {
	position: relative;
	visibility: hidden;
}

/*  */

/* #wordList {
    border: solid;
    position: relative;
    padding-bottom: 45em;
    width: 27em;
    overflow-x: hidden;
} */

/* 1058px is the line change the the h1 */

@media (max-width: 1467px) {
	/*  */
	.margin {
		margin-left: 15%;
		margin-right: 15%;
	}

	#playerOptions {
		position: relative;
		top: 0;
		right: 0;
		margin-top: -0.5em;
		margin-left: 0.2em;
		/* max-width: 0.1em; */
	}

	#playButton {
		position: absolute;
		top: 2.1em;
		left: 12.3em;
	}

	#playerBubble {
		position: absolute;
		top: -2.6em;
		left: 0.4em;
	}

	#infoSVG {
		position: absolute;
		top: 0.5em;
		left: 11em;
	}

	#player {
		position: absolute;
		top: 4.7em;
		padding-bottom: 5em;
	}

	#wordList {
		margin-top: -37.3em;
		margin-left: 40%;
	}
}

@media (max-width: 1058px) {
	.margin {
		margin-left: 12%;
		margin-right: 12%;
	}
	#wordList {
		/* margin-top: -37.3em; */
		margin-left: 50%;
	}
}

@media (max-width: 880px) {
	#wordList {
		margin-left: 40%;
	}
	.margin {
		margin-left: 3%;
		margin-right: 3%;
	}
}

@media (max-width: 750px) {
	/* Phone view */
	#wordList {
		/* border: solid; */
		position: absolute;
		top: 39em;
		left: 0;
		right: 0;
		padding-bottom: 0em;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30em;
		width: 20em;
		overflow-x: hidden;
	}
	.margin {
		margin-left: 3%;
		margin-right: 3%;
	}
}
